{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create new page
{% endblock %}

{% block body %}
    <h1>Create new page</h1>
    {% if error %}
    <div style="color: red;">{{ error }}</div>
    {% endif %}

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title" value="{{title| default:''}}"> 
        <br><br>
        <textarea name="content" placeholder="Submit your content here" rows="4" cols="50">{{content| default:''}}</textarea>
        <br><br>
        <button type="submit">Create</button>
    </form>
{% endblock %}